.happy-face {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #fc0;
  color: #000000;
  font-size: 1.5em;
  font-style: normal;
  line-height: 2em;
  margin: 0 auto;
  text-align: center;
}

.sad-face {
  width: 2em;
  height: 2em;
  background: rgb(214, 0, 0);
  border-radius: 50%;
  color: #000000;
  font-size: 1.5em;
  font-style: normal;
  line-height: 2em;
  margin: 0 auto;
  text-align: center;
}
